<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Register</title>
	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap" rel="stylesheet">
	<!-- stylesheet -->
	<link rel="stylesheet" href="static/style.css" type="text/css" media="screen" />
</head>

<body>

	<form method="POST" action="" id="main-form">
		<h1>Register Page</h1>
		{{ form.hidden_tag() }}
		<!-- <input type="text" id="username" placeholder="enter your username"> -->
		<!-- <label for="username" onclick="expand(this)">USERNAME</label> -->
		<!-- {{ form.username.label }} -->
		{{ form.username(id="username", placeholder="enter your username") }}
		{{ form.username.label(onclick="expand(this)") }}
		<!-- --- -->
		<!-- <input type="password" id="password" placeholder="enter your password"> -->
		<!-- <label for="password" onclick="expand(this)">Password</label> -->
		{{ form.password(id="password", placeholder="enter your password") }}
		{{ form.password.label(onclick="expand(this)") }}
		<!-- --- -->
		<!-- <button type="submit">SUBMIT</button> -->
		{{ form.submit(id="btn") }}
		<a href="{{url_for('login')}}">Already have an account? Log In</a><br>
	</form>
	<!-- scripts -->
	<script src="static/script.js" type="text/javascript"></script>
</body>

</html>